/* GLOBAL STYLES */
p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* NAVBAR STYLES */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
   color: #FFF;
   background-color: rgba(17, 17, 17, .5);
 }
.navbar-default .navbar-nav>li>a {
  color: #FFF;
  text-shadow: 1px 1px 2px #0a0a0a;
}
.carousel-inner .item {
  height: 60vh;
  background-size: cover;
  background-position: center;
}
.carousel-caption {
  padding-bottom: 150px;
}
.first-slide {
  background-image: url('../img/wood-2.jpg');
}
.slide-logo {
  max-height: 300px;
}
.second-slide {
  background-image: url('../img/restaurant-2.jpg');
}
.third-slide {
  background-image: url('../img/farm-2.jpg');
}

/* OUR STORY STYLES */
#our_story {
  min-height: 600px;
  display: flex;
  align-items: center;
}
#our_story h1,
#review h1,
#menu h1 {
  font-family: 'Lobster', cursive;
  color: #F8512F;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0A0A0A;
}
#our_story h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 12em;
  color: rgba(149, 147, 147, 0.2);
  position: absolute;
  z-index: -1;
}
#our_story h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-top: 0;
}

/* QUOTE */
#review {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#review p {
  color: #FFF;
  font-family: 'Raleway', san-serif;
  font-size: 2em;
  text-shadow: 1px 1px 5px #0A0A0A;
}
#review .container {
  background-color: rgba(20, 20, 20, .6);
  padding: 10px;
  border-radius: 5px;
}

/* MENU */
#menu {
  background-image: url('../img/black_linen.png');
  background-size: cover;
  min-height: 600px;
}
#menu h1 {
  color: #FFF;
}

#menu a {
  color: #F8512F;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
#menu .tab-content .row {
  margin: 0;
}
#menu .tab-content .food {
  background-color: #FFF;
  padding: 10px;
}

#contact {
  background-color: #F8512F;
  min-height: 600px;
  color: #FFF;
  padding-bottom: 50px;
}

#contact h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4em;
  margin-top: 50px;
}
#contact form {
  background-color: #FF6633;
  border: 1px solid #fff;
  padding: 15px;
}
#contact .form-group span {
  color: #FF0D06;
}
